# spir-v files
.spv

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
bin/
build
.cache
/renderdoc captures
*.spv
assets/SciFiHelmet/glTF/SciFiHelmet.bin
assets/SciFiHelmet/glTF/SciFiHelmet.gltf
assets/SciFiHelmet/glTF/SciFiHelmet_AmbientOcclusion.png
assets/SciFiHelmet/glTF/SciFiHelmet_BaseColor.png
assets/SciFiHelmet/glTF/SciFiHelmet_MetallicRoughness.png
assets/SciFiHelmet/glTF/SciFiHelmet_Normal.png
assets/SciFiHelmet/LICENSE.md
assets/SciFiHelmet/metadata.json
assets/SciFiHelmet/README.md
assets/SciFiHelmet/scifiHelmet.blend
assets/SciFiHelmet/SciFiHelmet.glb
assets/SciFiHelmet/screenshot/screenshot-x150.jpg
assets/SciFiHelmet/screenshot/screenshot.jpg
